# npm files
node_modules
npm-debug.log
vis-data-*.tgz

# ide or system files
.idea
.c9
*.iml
.project
.settings/
.directory

# temporary files
.*.sw[op]
.commits.tmp
.nyc_output/
.rpt2_cache
/.stryker-tmp/
/declarations/
/esnext/
/peer/
/reports/
/standalone/
coverage/
dist
gen/
