version: 2.1

executors:
  node:
    docker:
      - image: circleci/node:12.18
    working_directory: ~/repo
    environment:
      GIT_AUTHOR_EMAIL: visjsbot@gmail.com
      GIT_AUTHOR_NAME: vis-bot
      GIT_COMMITTER_EMAIL: visjsbot@gmail.com
      GIT_COMMITTER_NAME: vis-bot

jobs:
  prepare:
    executor: node

    steps:
      - checkout

      - run: npm ci

      - persist_to_workspace:
          root: .
          paths:
            - '*'

  build:
    executor: node

    steps:
      - attach_workspace:
          at: .

      - run: npm run build

      - persist_to_workspace:
          root: .
          paths:
            - 'declarations'
            - 'dist'
            - 'esnext'
            - 'peer'
            - 'standalone'

  lint:
    executor: node

    steps:
      - attach_workspace:
          at: .

      - run: npm run lint

  type_check:
    executor: node

    steps:
      - attach_workspace:
          at: .

      - run: npm run type-check

  test:
    executor: node

    steps:
      - attach_workspace:
          at: .

      - run: npm run test:coverage

  release:
    executor: node

    steps:
      - attach_workspace:
          at: .

      - run:
          name: Prepare NPM
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN

      - run:
          name: Release
          command: |
            npx semantic-release

workflows:
  version: 2

  build:
    jobs:
      - prepare

      - build:
          requires:
            - prepare

      - lint:
          requires:
            - prepare

      - type_check:
          requires:
            - prepare

      - test:
          requires:
            - prepare
            - build

      - release:
          requires:
            - prepare
            - build
            - lint
            - type_check
            - test
          filters:
            branches:
              only:
                - master
